[submodule "lib/Vulkan-Headers"]
	path = lib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers/
[submodule "lib/Vulkan-Loader"]
	path = lib/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader/
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/icaven/glm
